<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Campaign</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        color: #333;
      }
      h1 {
        text-align: center;
        color: #4caf50;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        border-bottom: 2px solid #ddd;
      }
      form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      label {
        font-size: 1.1rem;
        margin-bottom: 10px;
        display: block;
      }
      input,
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 1rem;
      }
      button {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 5px;
      }
      button:hover {
        background-color: #45a049;
      }
      a {
        display: inline-block;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        color: #4caf50;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Create Campaign</h1>
    <form action="/campaign/create" method="POST">
      <label for="name">Campaign Name:</label>
      <input type="text" id="name" name="name" required /><br />

      <label for="audience_id">Audience:</label>
      <select id="audience_id" name="audience_id" required>
        <% audiences.forEach(audience => { %>
        <option value="<%= audience.audience_id %>">
          <%= audience.name %>
        </option>
        <% }) %></select
      ><br />

      <label for="sent_date">Sent Date:</label>
      <input
        type="datetime-local"
        id="sent_date"
        name="sent_date"
        required
      /><br />

      <button type="submit">Create Campaign</button>
    </form>
    <a href="/campaign/history">Back to Campaign History</a>
  </body>
</html>
